My first python code.

In [1]:
print("python" + " basics")

python basics

In [2]:
!python --version

Python 3.12.11

In [3]:
!pip install package_name

Requirement already satisfied: package_name in /usr/local/lib/python3.12/dist-packages (0.1)

Activity 01

In [4]:
print(1 + 3)

4

In [5]:
print(10 / 2)

5.0

In [7]:
print(5 ** 2)

25

Activity 2 (String Manipulation)

In [9]:
print("python" + " basics")

python basics

In [10]:
print("AI " * 3)

AI AI AI

Activity 3

In [13]:
fruit = "apple"
print(fruit)
fruit = 17
print(fruit)

apple
17

In [15]:
x = str(3)
y = int(3)
z = float(3)
print(type(x), type(y), type(z))

<class 'str'> <class 'int'> <class 'float'>

Activity 4 : Working with a mixed-type list and extracting sublists

In [18]:
mylist = ["apple", 34.5, "banana", 9]

print("Complete list:", mylist)

print("First element:", mylist[0])

print("Last element:", mylist[-1])

print("Sublist from index 1 to 2:", mylist[1:3])

print("Every second element:", mylist[::2])

if "app" in mylist[0]:
    print("Substring 'app' found in the first element.")

mylist.append("grape")
print("List after appending 'grape':", mylist)

mylist.remove("banana")
print("List after removing 'banana':", mylist)

mylist[1] = 99.9
print("List after updating index 1:", mylist)

Complete list: ['apple', 34.5, 'banana', 9]
First element: apple
Last element: 9
Sublist from index 1 to 2: [34.5, 'banana']
Every second element: ['apple', 'banana']
Substring 'app' found in the first element.
List after appending 'grape': ['apple', 34.5, 'banana', 9, 'grape']
List after removing 'banana': ['apple', 34.5, 9, 'grape']
List after updating index 1: ['apple', 99.9, 9, 'grape']

Activity 5 : Perform all basic dictionary operations

In [19]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}
print("Initial dictionary:", car)

print("Model of the car:", car["model"])

car["year"] = 2024
print("After updating 'year':", car)

car["color"] = "red"
print("After adding a new key 'color':", car)

removed_value = car.pop("model")
print("Removed 'model' key with value:", removed_value)
print("Dictionary after pop operation:", car)

last_item = car.popitem()
print("Removed the last inserted item:", last_item)
print("Dictionary after popitem:", car)

print("Get 'brand' safely:", car.get("brand"))
print("Get non-existing key safely (returns None):", car.get("engine"))

if "brand" in car:
    print("'brand' key exists in the dictionary.")

print("All keys:", car.keys())
print("All values:", car.values())
print("All items (key–value pairs):", car.items())

car_copy = car.copy()
print("Shallow copy of dictionary:", car_copy)

car.clear()
print("Dictionary after clearing all items:", car)

Initial dictionary: {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Model of the car: Mustang
After updating 'year': {'brand': 'Ford', 'model': 'Mustang', 'year': 2024}
After adding a new key 'color': {'brand': 'Ford', 'model': 'Mustang', 'year': 2024, 'color': 'red'}
Removed 'model' key with value: Mustang
Dictionary after pop operation: {'brand': 'Ford', 'year': 2024, 'color': 'red'}
Removed the last inserted item: ('color', 'red')
Dictionary after popitem: {'brand': 'Ford', 'year': 2024}
Get 'brand' safely: Ford
Get non-existing key safely (returns None): None
'brand' key exists in the dictionary.
All keys: dict_keys(['brand', 'year'])
All values: dict_values(['Ford', 2024])
All items (key–value pairs): dict_items([('brand', 'Ford'), ('year', 2024)])
Shallow copy of dictionary: {'brand': 'Ford', 'year': 2024}
Dictionary after clearing all items: {}

Activity 6 :Perform basic set operations

In [20]:
thisset = {"apple", "banana", "cherry"}
print("Initial set:", thisset)

set1 = {"abc", 34, True, 40, "male"}
print("Mixed-type set:", set1)

thisset.add("orange")
print("After adding 'orange':", thisset)

thisset.update(["grape", "mango"])
print("After adding multiple elements:", thisset)

thisset.remove("banana")
print("After removing 'banana':", thisset)

thisset.discard("papaya")
print("After attempting to discard 'papaya' (not present):", thisset)

removed_item = thisset.pop()
print("Removed an arbitrary element:", removed_item)
print("Set after pop operation:", thisset)

print("Is 'apple' in the set?", "apple" in thisset)

union_set = thisset.union(set1)
print("Union of thisset and set1:", union_set)

intersection_set = thisset.intersection(set1)
print("Intersection of thisset and set1:", intersection_set)

difference_set = thisset.difference(set1)
print("Difference (thisset - set1):", difference_set)

copy_set = thisset.copy()
print("Copy of the set:", copy_set)

thisset.clear()
print("Set after clearing all elements:", thisset)

Initial set: {'banana', 'apple', 'cherry'}
Mixed-type set: {'male', True, 34, 40, 'abc'}
After adding 'orange': {'banana', 'orange', 'apple', 'cherry'}
After adding multiple elements: {'banana', 'mango', 'orange', 'grape', 'cherry', 'apple'}
After removing 'banana': {'mango', 'orange', 'grape', 'cherry', 'apple'}
After attempting to discard 'papaya' (not present): {'mango', 'orange', 'grape', 'cherry', 'apple'}
Removed an arbitrary element: mango
Set after pop operation: {'orange', 'grape', 'cherry', 'apple'}
Is 'apple' in the set? True
Union of thisset and set1: {True, 34, 40, 'orange', 'grape', 'cherry', 'male', 'abc', 'apple'}
Intersection of thisset and set1: set()
Difference (thisset - set1): {'apple', 'orange', 'grape', 'cherry'}
Copy of the set: {'apple', 'orange', 'grape', 'cherry'}
Set after clearing all elements: set()

Activity 7 : Execute code based on logical conditions.

In [21]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

Activity 8

In [23]:
a, b = 33, 200

if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

b is greater than a

Activity 9 : Explore for-loop with range and additional operations

In [24]:
for i in range(5):
    print("Number:", i)

for i in range(2, 7):
    print("From 2 to 6:", i)

for i in range(0, 10, 2):
    print("Even number:", i)

for i in range(5, 0, -1):
    print("Countdown:", i)

fruits = ["apple", "banana", "cherry"]
for index in range(len(fruits)):
    print("Index:", index, "Fruit:", fruits[index])

for i in range(10):
    if i % 2 != 0:
        print("Odd number:", i)

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4
From 2 to 6: 2
From 2 to 6: 3
From 2 to 6: 4
From 2 to 6: 5
From 2 to 6: 6
Even number: 0
Even number: 2
Even number: 4
Even number: 6
Even number: 8
Countdown: 5
Countdown: 4
Countdown: 3
Countdown: 2
Countdown: 1
Index: 0 Fruit: apple
Index: 1 Fruit: banana
Index: 2 Fruit: cherry
Odd number: 1
Odd number: 3
Odd number: 5
Odd number: 7
Odd number: 9

Activity 10: Working with Functions and Different Types of Arguments

In [25]:
def my_function(fname, lname):
    print("Full name:", fname + " " + lname)

my_function("Emil", "Refsnes")


def kids_function(*kids):
    print("The youngest child is:", kids[2])

kids_function("Emil", "Tobias", "Linus")


def greet_user(name="Guest"):
    print("Hello,", name)

greet_user()
greet_user("Alice")


def describe_pet(**pet_info):
    print("Pet details:")
    for key, value in pet_info.items():
        print(key.capitalize() + ":", value)

describe_pet(type="Dog", name="Buddy", age=5)


def add_numbers(a, b):
    return a + b

result = add_numbers(10, 20)
print("Sum of numbers:", result)

Full name: Emil Refsnes
The youngest child is: Linus
Hello, Guest
Hello, Alice
Pet details:
Type: Dog
Name: Buddy
Age: 5
Sum of numbers: 30

Exercises

1. Check if a number is prime

In [26]:
num = 29
is_prime = True
if num > 1:
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
if is_prime:
    print(num, "is a prime number")
else:
    print(num, "is not a prime number")

29 is a prime number

 2. Average of 10 numbers

In [27]:
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
average = sum(numbers) / len(numbers)
print("Average:", average)

Average: 55.0

3. Student topper from dictionary

In [28]:
students = {"Ali": 85, "Sara": 92, "John": 78, "Zara": 95}
topper = max(students, key=students.get)
print("Topper:", topper, "with marks", students[topper])

Topper: Zara with marks 95

4. Set operations

In [29]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print("Union:", set1.union(set2))
print("Intersection:", set1.intersection(set2))
print("Difference:", set1.difference(set2))

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

5. Factorial using recursion

In [30]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

print("Factorial of 5:", factorial(5))

Factorial of 5: 120

6. Fibonacci series using for loop

In [31]:
n = 10
a, b = 0, 1
print("Fibonacci series:")
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b
print()

Fibonacci series:
0 1 1 2 3 5 8 13 21 34

7. Count vowels in a string

In [32]:
text = "Hello World"
vowels = "aeiouAEIOU"
count = 0
for char in text:
    if char in vowels:
        count += 1
print("Number of vowels:", count)

Number of vowels: 3

8. Tuple max and min

In [33]:
my_tuple = (10, 25, 3, 89, 45)
print("Maximum:", max(my_tuple))
print("Minimum:", min(my_tuple))

Maximum: 89
Minimum: 3

9. Reverse a string from user input

In [34]:
user_input = "Python"
reversed_string = user_input[::-1]
print("Reversed string:", reversed_string)

Reversed string: nohtyP